* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 2px solid black;
  flex-direction: column;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 10px;
  text-align: center;
}
.box1 {
  background: lightcoral;
  /* position: relative;
     left: -20px; */
  /* position: sticky;
    top: 0; */
}
.box2 {
  background: lightseagreen;
  /* position: absolute;
    top: 100px;
    left: 20px; */
}
.box3 {
  background: lightblue;
  /* position: fixed;
    top: 520px; */
}
.box4 {
  background: lightgoldenrodyellow;
}
.box5 {
  background: lightpink;
}
